<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USRREG</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
            <h2>COVID-19 Data</h2>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Country</th>
                      <th>Confirmed</th>
                      <th>active</th>
                      <th>deaths</th>
                      <th>recovered</th>
                      <th>last_update</th>
                   </tr>
                </thead>                                             
                    <tbody>                    
                        <tr>
                        <td>{{data.country}}</td>                      
                        <td>{{data.confirmed}}</td>                      
                        <td>{{data.active}}</td>                      
                        <td>{{data.deaths}}</td>                      
                        <td>{{data.recovered}}</td>                      
                        <td>{{data.last_update}}</td>
                        </tr>                    
                  </tbody>
                </table>
              </div>             
    
</body>
</html>